Intermediate/*
Saved/*
DerivedDataCache/*
Build/*
Packaged/*
Script/*
ServerTest/*
.vs/*
.svn/*
Binaries/*
#Plugins/*
.idea/*
*.sln
.stversions/*

# Folder itselves as well

Intermediate/
Saved/
DerivedDataCache/
Packaged/
Script/
ServerTest/
.vs/
.svn/
Binaries/
#Plugins/
.idea/
.sln
.stversions/
Plugins/Developer/RiderLink/
